{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do App Django</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="center-column">
            <h1 class="text-center"> Delete a task </h1>
            <br><br>
            <h3 class="text-center">Are you sure you want to delete "{{item}}"?</h3>
            <br><br>
            <div>
                <a style="width: 30%;" class="btn btn-sm btn-success float-left" href="{% url 'home' %}">Cancel</a>

                <form action="" method="post">
                    {% csrf_token %}
                    <input class="btn btn-sm btn-danger float-right" style="width: 30%;" type="submit" name="Confirm">
                </form>
            </div>
        </div>
    </body>
</html>